body {
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: white;
  padding: 5rem 0;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 10%;
}
.carousel > .carousel-inner > .carousel-item > img {
  height: 25rem;
}

.imgRtt {
  transform: rotate(-10deg);
  width: 25rem;
  height: 25rem;
}

#features {
    padding: 5%;
}
